<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="db" connectionString="Data Source=LAPTOP-KM8CH2O9;Initial Catalog=DCC_IntF;Integrated Security=False;uid=sa;pwd=1234"/>
    <!--<add name="Hana" connectionString="Server=10.12.25.5:30015;UserID=SYSTEM;Password=Welcome1#" providerName="Sap.Data.Hana"/>-->
    <add name="Hana" connectionString="Data Source=LAPTOP-KM8CH2O9;Initial Catalog=DCC_IntF;Integrated Security=False;uid=sa;pwd=1234"/>
  
  </connectionStrings>
  <appSettings>
    <add key="LogFile" value=".\Log\ErrorEventLog.log"/>
    <add key="HANACONNECTION" value="N"/>
   
    <add key="SAPDB" value="SBK_PFK_ACC"/>
  </appSettings>
</configuration>